
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#081f37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1e549f;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #1A1A40;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #081f37;
  color: #fff;
  border-radius: 4px;
  margin-left:10px;
  margin-bottom:10px;
  padding: 5px;
  cursor: pointer;

}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#081f37;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #5fc9f3;
  opacity:0.6;
  text-decoration: line-through;
}

footer{
  margin-top:15px;
  text-align: center;
  color:white;
}

a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}

a:hover{
  color:#5fc9f3;
  cursor:pointer;
  font-weight:bolder;
}

@media (max-width:900px){
  .TodoWrapper{
    max-width:400px;
    margin-left: 12px;
    margin-right: 12px;
  }
  footer{
    font-size:9px;
  }
}
